# Telegram
TELEGRAM_TOKEN=tu_token_aqui

# Google Calendar
GOOGLE_CALENDAR_ID=tu_calendar_id_aqui
GOOGLE_CREDENTIALS_JSON={"type":"service_account",...} # pega aqui el JSON entero en una línea

# OpenAI
OPENAI_API_KEY=tu_openai_key_aqui

# OpenWeather (gratis en openweathermap.org)
OPENWEATHER_API_KEY=tu_openweather_key_aqui
